body {
	background: lightsteelblue;
}

nav.navbar {
	background-color: #343a40;
}

nav {
	margin-bottom: 20px;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

th,
td {
	text-align: center;
}

.poker-results-table {
	/*  Makes all the columns have the same width */
	table-layout: fixed;
	width: 85%;
	/*  centers the table */
	margin: 20px auto;
}

.abs-center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


/* Divider */

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 2px solid #343a40;
}