{% extends 'base.html' %}
{% block content %}
    <!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-price_1HkgGZAS53fB2y7ckGSvmPfk"
  role="link"
  type="button"
>
  Checkout
</button>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_live_l0x3Baxfyep9B842ciL1yFDq00IW7OnUbR',
      {#{stripeAccount: "acct_1HlvUlPHZS2Y93PD"}#}
);

  var checkoutButton = document.getElementById('checkout-button-price_1HkgGZAS53fB2y7ckGSvmPfk');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      sessionId: 'cs_live_a0fmhaOOGkHh5Tqg6Py1X3NSNLXCfqkBtNX1rtrmeFMGcJ7ObZFYZ6cpkM'
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
{% endblock content %}